:root{
    --backcolor: #333;
    --headercolor: #4B7F52;
}
html, body{
    padding: 0px 0px 0px 0px;
    height: 100%;
    background-color: #C9FFE2;
}

#outsidewrapper{
    display: flex;
    flex-direction: column;
    margin: 0px 0px 0px 0px;
    padding: 0;
    height: 100%;
    /* grid-template-rows: min-content 1fr; */
}
.wrapper{
    display: flex;
    grid-template-columns: 3fr 7fr;
    grid-template-rows: 99fr 1fr;
    flex: 15 1 auto;
    /* grid-auto-flow: auto; */
}

header{
    /* var(--headercolor); */
    background-color: var(--headercolor);
    flex: 1 1 auto;
    /* height: min-content; */
    font: 3em sans-serif;
    text-align: center;
    /* border: 5px black solid; */
    margin-bottom: 0.5em;
    margin-top: 0;
    color: white;
}
#sidebar{
    border: 5px black solid;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    flex-grow: 3;
}
#addnote{
    padding:0.35em 1.2em;
    border:0.1em solid #000;
    margin:0.3em 0.3em 1em 0.3em;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#000000;
    text-align:center;
    transition: all 0.2s;
}

#addnote:hover{
    color:#FFFFFF;
    background-color:#000000; 
}
#mainarea{
    display: grid;
    grid-template-rows: 1fr 8fr 1 fr;
    place-items: center;
    border: 5px peru solid;
    border-radius: 5px;
    margin-right: 2px;
    flex-grow: 7;
}

#listofnotes{
    display: flex;
    flex-direction: column;
    padding: 0px 0px 0px 0px;
    margin: 0;
}

.noteElement{
    list-style-type: none;
    padding-top: 3px;
    padding-left: 3px;
    background-color: #96E8BC;
    color: #000;
    height: 20px;
    border: 1px #333 solid;

    /* margin: 0px 0px 0px 0px; */
}
.noteElement:hover{
    background-color: #7DD181;
}
.noteElement:active{
    background-color: #7DD181;
}

#selectanote{
    display: none;
}

#editarea{
    display: flex;
    flex-direction: column;
    grid-template-rows: 1fr 8fr 1 fr;
    height: 100%;
    width: 100%;
}

#noteheading{
    border: 3px black solid;
    /* grid-column: 0/1;
    grid-row: 0/1; */
    flex-grow: 0.5;
}

#notebody{
    flex-grow: 20;
    border: 3px solid #cccccc;
    resize: none;
	/* padding: 5px; */
    /* margin-top: 1px; */
}

#footerbuttons{
    display: flex;
    margin: 10px;
    flex-grow: 0.5;

}
#savebutton{
    flex-grow: 1;
    /* margin: 5px; */
    /* display:inline-block; */
    padding:0.35em 1.2em;
    border:0.1em solid #000;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#000000;
    text-align:center;
    transition: all 0.2s;
}

#savebutton:hover{
    color:#FFFFFF;
    background-color:#000000; 
}
#deletebutton{
    flex-grow: 1;
    /* margin:5px; */
    padding:0.35em 1.2em;
    border:0.1em solid #000;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#000000;
    text-align:center;
    transition: all 0.2s;
}

#deletebutton:hover{
    color:#FFFFFF;
    background-color:#000000;    
}